################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_2/.vs/Project_2/v16/Browse.VC.opendb
